body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}
.container{
    margin: 0;
}
header{
    text-align: center;
    margin-top: 0%;
    background-color: gray;
    color: rgb(66, 65, 65);
    padding: 15px;
}
footer{
color: gray;
background-color: grey;
padding: 15px;
}
.playlist-cards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px;
    
}
.card{
    flex: 0 0 18%;
    text-align:left;
    margin: 10px 20px 30px 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
.card:hover::before{
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
.card h2{
    line-height: 0.2;
}
.card h5{
    line-height: 0.2;
}
.like{
    display: flex;
}

.like i{
   
    line-height: 3;
}
.like p{
    padding-left: 10px;
}
img{
    height: 250px;
    width: 250px;
}
.modal {
   display: none; /*Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.modal-content {
    border-radius: 20px;
   background-color: rgb(230, 225, 225);
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   position: relative;
}
.modal-content img{
    height: 10px;
    width: 10px;
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
#playlistImage{
    height: 300px;
    width: 300px;
}
 #playlist-modal-box{
    display: flex;
 }
 .playlist-content{
    margin-left: 40px;
 }
 #shuffle{
    background-color: purple;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: 10px;
 }
 #shuffle:hover{
    cursor: pointer;
    transform: scale(1.1);
 }
.song-playcards{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}
.song-playcards img{
    margin: 10px;
height: 80px;
width: 80px;
}
.song-content{
line-height: 0.3;
padding-left: 50px;
}
.song-playcards p{
  padding-left: 750px;
  padding-top: 30px;
}
i:hover{
transform: scale(1.5);
  
}
/* #model-content-title{
    display: flex;
}
#model-content-title{
    display: flex;
}
#album-title-box{
    display: flex;
    padding-left: 50px;
    justify-content: left;
}
#album-title-box img{
height: 200px;
width: 200px;
}
#album-title-content{
padding-left: 50px;
} */ 


/* .holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
} */
